# Gender Prediction

Aim:

This dataset identifies the gender male or female with the help of given inputs like long_hair,forehead_width_cm	forehead_height_cm nose_wide, nose_long	,ips_thin,istance_nose_to_lip_long.

# 1. Importing Libraries

In [28]:
import pandas as pd
import numpy as np

# 2.Importing the dataset

In [29]:
dataset=pd.read_csv('gender pred.csv')

In [30]:
dataset.head()

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female
2,0,11.8,6.3,1,1,1,1,Male
3,0,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female

# 3. Getting Basic Information about the Dataset

Shape can be used to find the number of rows and columns present in dataset, in this dataset there are 5001 rows and 8 columns

In [31]:
dataset.shape

(5001, 8)

info() function gives basic information of data in coloumn wise like null value is present or not and datatypes of dataset

In [32]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 8 columns):
long_hair                    5001 non-null int64
forehead_width_cm            5001 non-null float64
forehead_height_cm           5001 non-null float64
nose_wide                    5001 non-null int64
nose_long                    5001 non-null int64
lips_thin                    5001 non-null int64
distance_nose_to_lip_long    5001 non-null int64
gender                       5001 non-null object
dtypes: float64(2), int64(5), object(1)
memory usage: 312.7+ KB

# 4. Cleaning the Dataset

isna().sum() is used to find the null value present in dataset

In [33]:
dataset.isna().sum()

long_hair                    0
forehead_width_cm            0
forehead_height_cm           0
nose_wide                    0
nose_long                    0
lips_thin                    0
distance_nose_to_lip_long    0
gender                       0
dtype: int64

There is no null records found

In [34]:
dataset.columns

Index(['long_hair', 'forehead_width_cm', 'forehead_height_cm', 'nose_wide',
       'nose_long', 'lips_thin', 'distance_nose_to_lip_long', 'gender'],
      dtype='object')

# QuanQual finding

Quan means Numerical datas(int,float) and Qual means Categorical datas(object,char)
we are segregating the datas based on numerical and categorical and storing in the variable named quan,qual

In [35]:
quan = []
qual = []

for i in dataset.columns:
    #print(i)
    
    if dataset[i].dtype == 'O':
        qual.append(i)
    else:
        quan.append(i)

In [36]:
qual

['gender']

In [37]:
quan

['long_hair',
 'forehead_width_cm',
 'forehead_height_cm',
 'nose_wide',
 'nose_long',
 'lips_thin',
 'distance_nose_to_lip_long']

# Finding Outliers

In ML model there should not be any outliers in dataset, we use IQR for replacing the data.

In [38]:
dataset.describe()

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long
count,5001.000000,5001.000000,5001.000000,5001.000000,5001.000000,5001.000000,5001.000000
mean,0.869626,13.181484,5.946311,0.493901,0.507898,0.493101,0.498900
std,0.336748,1.107128,0.541268,0.500013,0.499988,0.500002,0.500049
min,0.000000,11.400000,5.100000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,12.200000,5.500000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,13.100000,5.900000,0.000000,1.000000,0.000000,0.000000
75%,1.000000,14.000000,6.400000,1.000000,1.000000,1.000000,1.000000
max,1.000000,15.500000,7.100000,1.000000,1.000000,1.000000,1.000000

In [39]:
table=pd.DataFrame(index=['Q:25%','Q:50%','Q:75%','Q:100%','IQR','1.5 rule',
                'lesser outliers','greater outliers','min','max'],columns=quan)

In [40]:
table

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long
Q:25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q:50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q:75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q:100%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IQR,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1.5 rule,NaN,NaN,NaN,NaN,NaN,NaN,NaN
lesser outliers,NaN,NaN,NaN,NaN,NaN,NaN,NaN
greater outliers,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
for i in quan:
    
    table[i]['Q:25%']=dataset.describe()[i]['25%']
    table[i]['Q:50%']=dataset.describe()[i]['50%']
    table[i]['Q:75%']=dataset.describe()[i]['75%']
    table[i]['Q:100%']=dataset.describe()[i]['max']
    table[i]['IQR']=table[i]['Q:75%']-table[i]['Q:25%']
    table[i]['1.5 rule']=1.5*table[i]['IQR']
    table[i]['lesser outliers']=table[i]['Q:25%']-table[i]['1.5 rule']
    table[i]['greater outliers']=table[i]['Q:75%']+table[i]['1.5 rule']
    table[i]['min']=dataset[i].min()
    table[i]['max']=dataset[i].max()

In [42]:
table

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long
Q:25%,1,12.2,5.5,0,0,0,0
Q:50%,1,13.1,5.9,0,1,0,0
Q:75%,1,14,6.4,1,1,1,1
Q:100%,1,15.5,7.1,1,1,1,1
IQR,0,1.8,0.9,1,1,1,1
1.5 rule,0,2.7,1.35,1.5,1.5,1.5,1.5
lesser outliers,1,9.5,4.15,-1.5,-1.5,-1.5,-1.5
greater outliers,1,16.7,7.75,2.5,2.5,2.5,2.5
min,0,11.4,5.1,0,0,0,0
max,1,15.5,7.1,1,1,1,1

# Removing outliers

In [43]:
lesser =[]
greater=[]
for i in quan:
    if table[i]['lesser outliers']>table[i]['min']:
        lesser.append(i)
    if table[i]['greater outliers']<table[i]['max']:
        greater.append(i)

In [44]:
lesser

['long_hair']

In [45]:
greater

[]

In [46]:
table=dataset

In [47]:
table.to_csv("Pre_processdata.csv",index=False)

In [48]:
table

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female
2,0,11.8,6.3,1,1,1,1,Male
3,0,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female
...,...,...,...,...,...,...,...,...
4996,1,13.6,5.1,0,0,0,0,Female
4997,1,11.9,5.4,0,0,0,0,Female
4998,1,12.9,5.7,0,0,0,0,Female
4999,1,13.2,6.2,0,0,0,0,Female
5000,1,15.4,5.4,1,1,1,1,Male